<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :original %>
    <%= form.text_field :original %>
  </div>

  <div class="field">
    <%= label_tag(:type, "Seleccione el tipo de link") %>
    <%= form.select :type, options_for_select(Category.all.map { |c| [c.name] }), {}, { id: 'opciones' } %>
  </div>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      let select = document.getElementById('opciones'); 

      select.addEventListener('change', function() {
        let privado = document.getElementById('privado');
        let temporal = document.getElementById('temporal');
        if (this.value === 'Temporal') {
          temporal.style.display = 'block';
          privado.style.display = 'none';
        } else {
          if (this.value === 'Privado') {
            privado.style.display = 'block';
            temporal.style.display = 'none';
          } else {
            privado.style.display = 'none';
            temporal.style.display = 'none';
          }
        }
      });
    });
  </script>

  <div class="field" id="privado" style="display:none;">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field" id="temporal" style="display:none;">
    <%= form.label :expiration %>
    <%= form.datetime_local_field  :expiration %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
