<div id="<%= dom_id link %>">
  <tr>
      <th scope="row"><%= link.id %></th>
      <td><%= link.original %></td>
      <td><%= link.slug %></td>
      <td><%= link.today_access %></td>
      <td><%= link.total_access %></td>
      <td><%= link_to 'Editar', edit_link_path(link) %></td>
    </tr>
</div>
