<div id="<%= dom_id link %>">
  <tr>
      <th scope="row"><%= link.id %></th>
      <td><%= link.original_link %></td>
      <td><%= link_to "#{link_url(link)}", "/l/#{link.slug}" %></td>
      <td><%= link.category %></td>
      <% if link.accesses.any? %>
        <td><%= link.today_access %></td>
        <td><%= link.total_access %></td>
        <td class="btn btn-primary"><%= link_to 'Ver accesos', accesses_path(link.id) %></td>
      <% else %>
        <td><%= 0 %></td>
        <td><%= 0 %></td>
      <% end %>
      <td class="btn btn-success"><%= link_to 'Editar', edit_link_path(link) %></td>
      <td class="btn btn-danger"><%= button_to 'Borrar', link, method: :delete %></td>
    </tr>
</div>
