<p style="color: green"><%= notice %></p>

<h1>Links</h1>

<%= form_with(url: filtered_link_path, method: :post) do |form| %>

  <div class="mb-3 input-ip" style="display: block;">
    <%= form.text_field :ip, class: 'form-control', placeholder: 'Ingresa un Link' %>
  </div>

  <%= form.submit 'Buscar', class: 'btn btn-primary' %>
<% end %>

<div id="links">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Original</th>
      <th scope="col">ShortLink</th>
      <th scope="col">Categoria</th>
      <th scope="col">Accesos Diarios</th>
      <th scope="col">Total Accesos</th>
    </tr>
    </thead>
  <tbody>
      <% @links.each do |link| %>
        <%= render link %>
      <% end %>
  </tbody>
  </table>
</div>



